@media screen and (max-width: 800px) {
  .image-container {
    width: 100%;
  }

  body {
    line-height: 1.4rem;
    font-size: 0.9rem;
    text-align: justify;
  }
  .nav {
    font-size: 1.2rem;
  }
  .alert {
    right: 25px;
    font-size: 1rem;
  }
  .message {
    font-size: 1.5rem;
  }
}
